{% load static %}
<footer class="page-footer text-center text-md-center mt-0 pt-4">
    <!--Footer links-->
    <div class="container-fluid">
        <div class="row">
            <!--First column-->
            <div class="col-lg-3 col-md-6 ml-auto">
                <h5 class="title mb-3"><strong>About us</strong></h5>
                <p>Echipa noastră ține pasul cu tendințele industriei, inclusiv cu trecerea la soluții bazate pe cloud
                    și este permanent angajată în conceperea unor abordări inovatoare pentru rezolvarea provocărilor cu
                    care se confruntă clienții noștri. Suntem un partener de încredere pentru mulți clienți
                    multinaționali și ne mândrim cu capacitatea de a înțelege perspectivele internaționale,
                    precum și cerințele și normele locale..</p>


                <p><a href="https://www.linkedin.com/in/radu-iordache-python23849013/">Radu Iordache</a></p>
                <p><a href="https://www.linkedin.com/in/soare-alexandru-554b72136/">Alexandru Soare</a></p>
                <p><a href="https://www.linkedin.com/in/sebastian-gramada-87233a1a4/">Sebastian Gramada</a></p>
                <p><a href="https://www.linkedin.com/in/filip-titov-489362218">Filip Titov</a></p>
            </div>
            <!--/.First column-->
            <hr class="w-100 clearfix d-sm-none">
            <!--Second column-->
            <div class="col-lg-2 col-md-6 ml-auto mb-4">
                <h5 class="title mb-3"><strong>Newest Recipes</strong></h5>
                <ul class="list-unstyled">
                    <li>
                        <a target="_blank" href="https://www.bucataria.lidl.ro/retete/creveti-cu-usturoi">Creveti cu
                            usturoi</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.bucataria.lidl.ro/retete/salata-cu-ton-si-avocado">Salata
                            cu ton si avocado</a>
                    </li>
                    <li>
                        <a target="_blank"
                           href="https://www.bucataria.lidl.ro/retete/cartof-dulce-la-
                           cuptor-cu-sos-chimichurri-si-iaurt-de-cocos">
                            Cartof dulce la cuptor cu chimchurri si iaurt de cococs</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.bucataria.lidl.ro/retete/salam-de-biscuiti">Salam de
                            biscuiti</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.bucataria.lidl.ro/retete/pui-la-cuptor
                        -in-stil-asiatic">Pui
                            la cuptor in stil asiatic</a>
                    </li>
                </ul>
            </div>
            <!--/.Second column-->
            <hr class="w-100 clearfix d-sm-none">
            <!--Third column-->
            <div class="col-lg-2 col-md-6 ml-auto mb-4">
                <h5 class="title mb-3"><strong>Top Ingredients</strong></h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#">Ingredient 1</a>
                    </li>
                    <li>
                        <a href="#">Ingerdient 2</a>
                    </li>
                    <li>
                        <a href="#">Ingredient 3</a>
                    </li>
                    <li>
                        <a href="#">Ingredient 4</a>
                    </li>
                    <li>
                        <a href="#">Ingredient 5</a>
                    </li>
                </ul>
            </div>
            <!--/.Third column-->
            <hr class="w-100 clearfix d-sm-none">
            <!--Fourth column-->
            <div class="col-lg-2 col-md-6 ml-auto mb-4">
                <h5 class="title mb-3"><strong>Best Deals</strong></h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#">Deal 1</a>
                    </li>
                    <li>
                        <a href="#">Deal 2</a>
                    </li>
                    <li>
                        <a href="#">Deal 3</a>
                    </li>
                    <li>
                        <a href="#">Deal 4</a>
                    </li>
                    <li>
                        <a href="#">Deal 5</a>
                    </li>
                </ul>
            </div>
            <!--      /.Fourth column-->
        </div>
    </div>
    <!--/.Footer links-->
    <hr>
    <!--Call to action-->
    <div class="call-to-action text-center my-4">
        <h4 class="mb-5">Feedback QR CODE</h4>
        <h5 class="mb-5">
            <marquee behavior="scroll" direction="left">Let us know what you think about us!!!</marquee>
        </h5>
        {#        <h5 class="mb-5">Let us know what you think about us!!!</h5>#}
        <ul class="list-unstyled list-inline">

            <!-- Include Bootstrap for styling -->
            <!--                <link rel="stylesheet" href=-->
            <!--                        "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>-->


            {#            <title>QR Code Generator</title>#}

        </ul>
    </div>


    <!--            <body>-->

    <a class="container-fluid">
        <span class="container-fluid"></span>
    </a>


    <div class="text-center">

        <!-- Get a Placeholder image initially,
         this will change according to the
         data entered later -->
        <a href="https://qrco.de/bd9GAQ" target="_blank"><img src="{% static 'QRCODE-v2.PNG' %}" height="160"
                                                              width="160" alt="QR code form"/>

            <!--                     "https://chart.googleapis.com/chart?cht=qr&chl=Hello+World&chs=160x160&chld=L|0"-->
            <!--                class="qr-code img-thumbnail img-responsive" />-->

        </a>
    </div>
    {#        <div>#}
    {#            <embed src=" https://coderadio.freecodecamp.org/" autoplay=true height="300" width="300" autostart=true>#}
    {#        </div>#}


    {#            </span>#}
    <p><a class="item" style="font-family: sans-serif" href="tel:+40762362909">Phone: +40762362909</a></p>
    <p><a class="item" style="font-family: sans-serif" href="mailto:bistro.p2022@gmail.com">E-mail:
        bistro.p2022@gmail.com</a></p>
    <a href="https://facebook.com"><i class="fab fa-facebook" style="font-size:15px;color:cadetblue;"></i></a>
    <a href="https://myaccount.google.com/"><i class="fab fa-google plus" style="font-size:15px;color:red;"></i></a>
    <a href="https://twitter.com/i/flow/login>"><i class="fab fa-twitter"
                                                   style="font-size:15px;color:blue;"></i></a>
    <a href="https:///www.instagram.com/"><i class="fab fa-instagram" style="font-size:15px;color:white;"></i></a>


    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        <div class="container-fluid">
            © 2022 Copyright: <a href="https://www.MDBootstrap.com"> Bistro_P </a>

        </div>


    </div>
    <!--/.Copyright-->
</footer>

