{% extends 'base.html' %}

{% block content %}
    <style>
        table, th, td {
            border: 1px solid black;
        }
        th, td {
  background-color: #96D4D4;
}
    </style>

    <div style="position:relative; left:80px; top:-250px">
        <h1>Welcome to Cart page</h1>
    </div>

    <div style="position:relative; left:-600px;  ">>

        <table style="width:450%">
            <th>Product</th>
            <th style="width:35%">Quantity</th>
            <th style="width:35%">Price</th>

            {% for item in cart.cart_items %}
                <tr>
                    <td>{{ item.recipe }}</td>
                    <td>{{ item.quantity }}</td>
{#                    <td>{{ item.price }}</td>#}
                </tr>
                <section>
      <div class="product">
        <img src="https://i.imgur.com/EHyR2nP.png" alt="The cover of Stubborn Attachments" />
        <div class="description">
          <h3>Stubborn Attachments</h3>
          <h5>$20.00</h5>
        </div>
      </div>
      <form action="/create-checkout-session" method="POST">
        <button type="submit" id="checkout-button">Checkout</button>
      </form>
    </section>
            {% endfor %}
        </table>

    </div>
{% endblock %}
