{% extends 'base.html' %}

{% block content %}

    <div class="view">
        <li><p>
            <h1>Welcome to the Bistro_P Recipes</h1> </p>  </li>
        <li><p>This site keeps track of your Recipes</p></li>

        <ul>
            <li class="container">
            <div class="row">
                {% for rec in recipes %}
                    <li> <div class="thumbnail"><img src="{{ rec.recipe_img.url }}" style="width:100px"></div>
                        Reteta: {{ rec.name }} /
                    <br>
                         Ingrediente : {% for ing in rec.get_parents.name %}
                            <li>  {{ ing }}</li> /
                        {% endfor %}
                        / {{ rec.sale_price }} Lei
                    </div>
                    </li>
                {% endfor %}

            </li>
        </ul>
    </div>
{% endblock %}